img {
  max-width: 100%;
  height: auto;
}

.featured-image{
  img{
    width: 100%;
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: 8vw;
  margin-bottom: 8vw;
  img {
    width: 100%;
  }
}

.site-info {
  padding: 3vw 0;
}

.widget-area {
  margin-top: 20px;
  padding: 15px 0;
}

.screen-reader-text {
  margin: 0 !important;
  padding: 0 !important;
}

.top10 {
  margin-top: 10px !important;
}

.top20 {
  margin-top: 20px !important;
}

.top30 {
  margin-top: 30px !important;
}

.bottom10 {
  margin-bottom: 10px !important;
}

.bottom20 {
  margin-bottom: 20px !important;
}

.bottom30 {
  margin-bottom: 30px !important;
}

hr {
  border: 0;
  border-bottom: 3px solid #eeeeee;
  margin: 30px;
}

h1, h2, h3 {
  font-weight: 200;
}

.linked-img{
  cursor: pointer;
}