$menu_background: #eeeeee;
nav#site-navigation ul#primary-menu {
  > li.menu-item-has-children {
    position: relative;
    > ul {
      display: block;
      position: absolute;
      width: 150px;
      opacity: 0;
      z-index: -1;
      background-color: $menu_background;
      top: 64px;
      left: 0;
      > li {
        display: block;
        width: 150px;
        line-height: 40px;
        li {
          line-height: 36px;
          padding-left: 5px;
          a {
            font-size: 0.9em;
          }
          li {
            line-height: 32px;
            padding-left: 10px;
            a {
              font-size: 0.75em;
            }
          }
        }
      }
    }
    &:hover {
      ul {
        transition: opacity 0.5s ease;
        opacity: 1;
        z-index: 10;
      }
    }
    > a:after {
      content: '\E313';
      font-family: 'Material Icons';
      display: inline-block;
      margin-left: 5px;
      vertical-align: bottom;
      cursor: pointer;
    }
  }
  li.current-menu-item > a {
    background-color: darken($menu_background, 6);;
  }
  li.current-menu-ancestor {
    background-color: darken($menu_background, 2);
  }
}

nav#site-navigation ul#mobile-menu {
  li {
    li {
      a {
        font-size: 13px;
        padding-left: 36px;
      }
      li {
        a {
          font-size: 12px;
          padding-left: 40px;
        }
      }
    }
  }
  li.current-menu-item > a {
    background-color: darken($menu_background, 6);
  }
  li.current-menu-ancestor {
    background-color: darken($menu_background, 2);
  }
}

nav#site-navigation a.button-collapse {
  i {
    font-size: 36px;
  }
  margin-left: 0;
}

span.no-logo {
  font-size: 16px;
}

img.site-logo {
  height: 64px;
  padding: 7px 0;
  width: auto;
}

#logo-container {
  height: 64px;
}