nav.post-navigation {
  background-color: transparent;
  box-shadow: none;
  margin: 2vw 0;
  @include clearfix();
  .nav-links {
    display: block;
    width: 100%;
    > div {
      display: inline-block;
    }
    .nav-previous {
      float: left;
      font-size: 20px;
      a:before {
        content: '\E408';
        font-family: 'Material Icons';
        display: inline-block;
        vertical-align: bottom;
        cursor: pointer;
      }
    }
    .nav-next {
      float: right;
      font-size: 20px;
      a:after {
        content: '\E409';
        font-family: 'Material Icons';
        display: inline-block;
        vertical-align: bottom;
        cursor: pointer;
      }
    }
  }
}

body.single-post, body.page {
  article.post, article.page {
    padding-top: 30px;
    @media #{$medium-and-up} {
      padding: 60px;
    }
    .entry-meta {
      .entry-date {
        text-transform: uppercase;
        font-size: 80%
      }
      .byline, .updated:not(.published) {
        display: none;
      }
    }
    .entry-title {
      margin-bottom: 30px;
      margin-left: -2px;
      margin-top: 0;
    }
    .entry-content {

    }

    footer.entry-footer {
      display: none;
    }

    a {
      transition: color 0.6s ease;
      &:hover {
        color: #283593;
      }
    }
    p {
      color: rgba(0, 0, 0, 0.71);
      margin-bottom: 20px;
      @media #{$medium-and-up}{
        line-height: 1.8;
        margin-bottom: 40px;
      }
    }
  }
}